.profile{
    
    color:#000;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 35px;
    box-shadow: 1px 1px 8px 10px rgba(161, 55, 138, 0.2);
    img{
        margin: 2rem auto;
        width:50%;
       
        box-shadow: 1px 1px 8px 10px rgba(161, 55, 138, 0.2);
        border-radius: 45%;

    }
}